# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints

# Data files (if they are large)
*.csv

# macOS
.DS_Store
.gitignore
churn-frontend
ReadMe.md
