# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints

# Data files (if they are large)
*.csv
.gitignore
# macOS
.DS_Store

churn-frontend/client/.gitignore
churn-frontend/client/node_modules

churn-frontend/node_modules
churn-frontend/node_modules